.busca-texto{width:257px;}
.links a{margin-left:20px;}
#edit-search-block-form-1{padding-top:8px!important;height:28px!important;width:257px;}
div.node p.remetente{position:absolute;margin-top:30px;}
#homenagem {padding-bottom: 120px;}
input#edit-submit, #edit-submit-1{margin-top:5px!important;vertical-align:8px!important;padding-left:99px!important;}
#footer{margin-top:0px!important;}
.page- #footer{margin-top:50px!important;}
div.node-form {background-color:#FFF!important;zoom:1!important;padding-bottom:35px!important;}
form#node-form {background-color:#F0F0F0!important;}
.node-form label {float:left!important;clear:left!important;width:auto!important;}
form#node-form div {zoom:1!important;}
.form-submit {clear:both!important;}
div#autocomplete{margin:28px 0 0 0!important;}
.envie-homenagem{background:url("../imagens/envie-homenagem-ie6.png") no-repeat scroll left top transparent!important;}
.page-criar-mensagem #edit-submit {background:url("../imagens/botao-enviar.png") no-repeat scroll left top transparent!important;
position:absolute!important;margin-top:-30px!important;padding:0!important;}
