/**********
ADMIN
**********/
#admin-menu { font-size:13px; }
#autocomplete{background-color:white;}
.form-autocomplete{background-position:99% 6px!important}
.form-autocomplete:focus{background:url(../../../../../misc/throbber.gif) no-repeat 99% -14px!important}

/**********
BACKGROUND
**********/
body{
	background: #6EC054 url(../imagens/bg-site2.jpg) repeat-x;
}

.not-front{
	background: #6EC054 url(../imagens/bg-not-front.jpg) repeat-x;
}

/**********
FOTO
**********/
#tudo{
	background: url(../imagens/bg-foto2.jpg) no-repeat top center;
	/*height: 463px;*/
	width: 100%;
	z-index: 1;
}

.not-front #tudo{
	background: none;
	height: 463px;
	width: 100%;
	z-index: 1;

}

/**********
TOPO
**********/
#topo{
	background: url(../imagens/bg-topo.png) repeat-x;
	height: 81px;
	width: 100%;
}

.logo{
	padding-top: 10px;
}

#topo h1 a{
	background: url(../imagens/logo.png) no-repeat;
	display: block;
	height: 60px;
	overflow: hidden;
	text-indent: -999999px;
	width: 310px;
}

/**********
BUSCA
**********/
#search-block-form label{display:none}
.busca{	padding-top: 23px;}

.busca-texto, #search-block-form .form-text
{background: url(../imagens/busca-texto.gif) no-repeat;	border: none;color: #999;font-family: Georgia, Times, serif;font-size: 12px;font-style: italic;	height: 28px;margin-right:-3px;padding-left: 5px;	width: 250px; }
.busca-botao, #search-block-form .form-submit
{background: url(../imagens/busca-botao.gif) no-repeat left top;border: none;height: 30px;margin-left:0 !important;text-indent: -99999px;width: 41px; }
.busca-botao:hover, .busca-botao, #search-block-form .form-submit:hover{background: url(../imagens/busca-botao.gif) no-repeat left bottom;cursor: pointer;}

.search-results .node-unpublished { background-color:transparent!important}
/**********
ENVIAR MENSAGEM
**********/
#homenagem{
	padding: 160px 0 160px;
}

a.envie-homenagem{
	background: url(../imagens/envie-homenagem.png) no-repeat left top;
	display: block;
	height: 52px;
	overflow: hidden;
	text-indent: -99999px;
	width: 307px;
}

a.envie-homenagem:hover{
	background-position: left bottom;
}

/**********
MENSAGENS
**********/
.mensagem{
	background: url(../imagens/balao.png) no-repeat;
	display: block;
	height: 155px;
	margin-bottom: 20px;
}

p.destinatario{
	color: #333;
	font-style: italic;
	padding: 15px 15px 5px;
	height: 20px;
	line-height: 1em;
    text-transform: capitalize;
    font-size: 12px;

}

p.destinatario span{
	color: #666;
	display: block;
	float: left;
	font-size: 11px;
	font-weight: normal;
	height: 20px;
	margin-right: 5px;
	text-transform: lowercase;

}

p.texto{
	color: #34416E;
	font-size: 18px;
	padding: 5px 15px 0;
	line-height: 1.2em;
	height: 70px;
	overflow: hidden;
}

p.remetente{
	color: white;
	margin: 10px 0 0 40px;
	text-shadow: 0 -1px 0px #467E36;
	text-transform: capitalize;

}

p.remetente span{
    margin-right: 2px;
    text-transform: lowercase;

}

/**********
PAGINACAO
**********/
.pager{
	height: 50px;
	margin-bottom: 20px;
	text-align: center;
}

.pager li {
    color: #354277;
}

.pager a{
	margin: 0px 1px;
	padding-top: 5px;
	text-decoration: none;
    color: #fff!important;
    font-family:Georgia,Times,serif;
}

.pagina{
	background: url(../imagens/pagina.jpg) no-repeat left top;
	color: #37632B;
	display: block;
	height: 27px;
	width: 77px;
}

/*.numero{
	background: url(../imagens/pagina-numero.jpg) no-repeat left top;
	color: #37632B;
	height: 27px;
	width: 32px;
}*/

.ativa{
	background: url(../imagens/pagina-ativa.jpg) no-repeat left top;
	color: white;
	font-weight: bold;
	height: 27px;
	width: 32px;
}

.pagina:hover, .numero:hover, .ativa:hover{
	background-position: left bottom;
}

/**********
FOOTER
**********/
#footer{
	background: url(../imagens/bg-footer.jpg) repeat-x;
	color: white;
	padding-top: 15px;
	width: 100%;
}

.tarja{
	height: 35px;
}

.mmda{
	height: 40px;
	padding-top: 20px;
	text-align: right;
}

.mmda p a{
    color:#fff;
    display: none;
    text-decoration:none;
}

.mmda p a:hover{
    text-decoration:underline;

}

.responsavel p{
	float: left;
}

.tarja a{
	color: white;
}

.tarja p{
	color: white;
	float: left;
	font-style: italic;
	font-weight: bold;
	width: 105px;
}

a.facebook{
	background: url(../imagens/facebook.gif) no-repeat left top;
	color: white;
	display: block;
	float: left;
	font-weight: normal;
	height: 20px;
	padding-left: 30px;
	text-decoration: none;
	width: 70px;
}

a.twitter{
	background: url(../imagens/twitter.gif) no-repeat left top;
	color: white;
	display: block;
	float: left;
	font-weight: normal;
	height: 20px;
	padding-left: 30px;
	text-decoration: none;
	width: 70px;
}

a.facebook:hover, a.twitter:hover{
	background-position: left bottom;
}

.links a{
	margin-left: 30px;
}

.links a:hover{
	text-decoration: none;
}


#envelope{
	background: url(../imagens/envelope.png) no-repeat center top;
	height: 500px;
	margin-top: 20px;
}

.cartao{
	background: url(../imagens/cartao.png) no-repeat;
	height: 405px;
	margin: 0 0 0 50px;
	padding: 50px 0px 0px 0px;
}

.formulario h2{
	color: #2E3864;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	padding-bottom: 10px;
}

.node-form label{
	float:none !important;
	display:inline !important;
	color: #666;
	display: block;
	font-size: 13px;
	font-style: italic;
	font-weight: normal;
	width: 120px;
}

#node-form .form-item .form-text {
	display:inline !important;
	border: none !important;
	border-bottom: 1px dotted #666 !important;
	color: #333;
	font-size: 16px;
	width:390px !important;
}

#node-form .form-item .form-text.error, label.error {
	border: none !important;
	border-bottom: 2px dotted red !important;
}

#node-form .form-item .form-autocomplete{
	width:330px !important;
}

.page-pr-visualizar form#node-form{
    background:transparent;
}

.page-pr-visualizar div.node-form{
    background:transparent;
    border:none;
}

#autocomplete{margin:0 0 0 130px!important;}
#node-form .form-item #edit-title{width:380px!important;}

#edit-preview{
	/*display: none;*/
}

.tarja .links li, .tarja .links li a {
	margin-left: 0;
}

.tarja .links{
	float: right;
	text-align:right;
}

.page-criar-mensagem #node-form #edit-submit{
	background: url(../imagens/botoes.png) no-repeat -384px 0;
	border: none;
	height: 42px;
	margin-bottom: 10px;
	margin-left: 0px;
	overflow: hidden;
	text-indent: -99999px;
	width: 192px;
	display:none;
}

.page-criar-mensagem #node-form #edit-preview {
   	background: url(../imagens/botoes.png) no-repeat -192px 0;
	border: none;
	height: 42px;
	margin-bottom: 10px;
	margin-left: 0px;
	overflow: hidden;
	text-indent: -99999px;
	width: 192px;
}
.page-criar-mensagem #node-form #edit-preview:hover{
    background-position:-192px -42px;
}

.page-criar-mensagem #node-form #edit-submit:hover{
    background-position:-384px -42px;
}
.preview .node{ background: url(../imagens/cartao-frente.png) no-repeat -187px -64px;height:300px; padding-top:40px }
.preview .node .destinatario span { display:none }
.preview .node .destinatario { color:#2E3864;font-size:22px;font-style:italic;margin:0 0 0 16px;padding-bottom:45px;}
.preview .node .texto{ color:#333333;font-size:20px;font-style:italic;margin:0 0 0 14px;padding-bottom:25px;width:70%; }
.preview .node .remetente{ color:#2E3864;font-size:18px;font-style:italic; margin-left:30px!important}
.preview .node .remetente span{ margin-right: 10px; }

.error{	padding: 0 !important; }

.links a.active{ color: #fff; }

/**********
ENVIADO
**********/
#enviado{
	background: url(../imagens/envelope-fechado.png) no-repeat center bottom;
	height: 500px;
	margin-top: 20px;
}

.enviado{
	height: 405px;
	text-align: center;
}

.enviado h4{
	color: #fff;
	font-size: 70px;
	font-weight: lighter;
	padding-bottom: 30px;
	padding-top: 30px;
}

.enviar-novo{
	background: url(../imagens/enviar-novo.png) no-repeat left top;
	border: none;
	display: block;
	float: left;
	height: 42px;
	margin-top: 5px;
	overflow: hidden;
	text-indent: -99999px;
	width: 203px;
}

.voltar{
	background: url(../imagens/voltar.png) no-repeat left top;
	border: none;
	display: block;
	float: left;
	height: 42px;
	margin-left: 10px;
	margin-top: 5px;
	overflow: hidden;
	text-indent: -99999px;
	width: 203px;
}

.botoes-enviado{
	margin: 0 auto;
	width: 420px;
}

.node-type-page .node{
	background: #fff;
	margin: 40px 0px;
	padding: 30px;
}

.node-type-page .node h2{
	padding:20px 0px 10px;
}

.node-type-page .node h2 a{
	color:#2E3864;
	font-size:22px;
	font-style:italic;
	font-weight:normal;
	text-decoration: none;
}

.node-type-page .node h3{
	color:#666;
	font-size:18px;
	font-style:italic;
	font-weight:normal;
	padding:30px 0 20px;
}

.node-type-page .node p{
	padding-bottom: 10px;
}

.node-type-page .node a{
	color: #344278;
}
.node-type-page .node a:hover{
	color: #003399;
}

.page-cartao-enviado-com-sucesso .node{
	background-color: transparent;
	margin: 0;
	padding: 0;
}
#node-form .voltar{
	background:url("../imagens/voltar.png") no-repeat scroll left top transparent;
	border:medium none;
	display:block;
	float:right;
	height:42px;
	margin-left:10px;
	margin-top:0px;
	overflow:hidden;
	text-indent:-99999px;
	width:203px;
}

